<div class="mt-5 d-flex justify-content-center text-center footer-container">
  <div class="a mt-4">
    <footer class="row footer">
      <div class="col">
        <h2 class="d-flex align-items-center justify-content-center" style="font-weight: 700;">Shenlik Tech.</h2>
        <p>"life needs software."</p>
        <div class="soc mt-4 mb-3">
          <a href="https://www.instagram.com/shenliktech"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/shenliktech"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.behance.com/shenliktech"><i class="bi bi-behance"></i></a>
        </div>
      </div>
    </footer>
    <div class="legal mt-2">
      <p>&copy; 2023 Shenlik Tech. All rights reserved.</p>
    </div>
    <br>
  </div>
</div>
